{% extends "index.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Estadísticas de Usuarios Mencionados</h2>
    <div class="row">
        <!-- Tarjeta para estadísticas de usuarios mencionados -->
        <div class="col-md-12">
            <div class="card card-bg text-white mb-3">
                <div class="card-title">Estadísticas de Usuarios Mencionados</div>
                <div class="card-body">
                    <canvas id="statsChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="usuario-title">Usuarios Mencionados en Cada Mensaje</h3>
        <table class="table table-bordered table-centered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                {% for data in usuarios_data %}
                <tr>
                    <td>{{ data.fecha|date:"F j, Y" }}</td>
                    <td>
                        <ul>
                            {% for usuario_info in data.usuarios.items %}
                            <li>{{ usuario_info.0 }} ({{ usuario_info.1 }} veces)</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    const ctx = document.getElementById('statsChart').getContext('2d');

    // Obtén los datos de la respuesta JSON (reemplaza esto con los datos reales de tu respuesta)
    const response = {{ response| safe }};

    // Crear un objeto para almacenar el recuento total de usuarios mencionados por fecha
    const usuariosCountByDate = {};

    // Procesar los datos y calcular el recuento total de usuarios mencionados por fecha
    response.forEach(data => {
        const fecha = data.Fecha;
        const usuarios = data.usuarios;
        const totalUsuarios = Object.values(usuarios).reduce((total, count) => total + count, 0);
        usuariosCountByDate[fecha] = totalUsuarios;
    });

    const labels = Object.keys(usuariosCountByDate);
    const dataValues = Object.values(usuariosCountByDate);

    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Recuento de Usuarios Mencionados',
                data: dataValues,
                backgroundColor: 'rgba(23, 162, 184, 0.5)', // Color de barras personalizado
                borderColor: 'rgba(100, 100, 100, 100)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    beginAtZero: true,
                }
            }
        }
    });
</script>
{% endblock extra_js %}