{% extends "index.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Grafica de Hashtags</h2>
    <div class="row">
        <!-- Tarjeta para estadísticas de hashtags -->
        <div class="col-md-12">
            <div class="card card-bg text-white mb-3">
                <div class="card-title">Hashtags</div>
                <div class="card-body">
                    <canvas id="statsChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="hashtag-title">Hashtags Utilizados en Cada Mensaje</h3>
        <table class="table table-bordered table-centered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hashtags</th>
                </tr>
            </thead>
            <tbody>
                {% for data in hashtags_data %}
                <tr>
                    <td>{{ data.fecha|date:"F j, Y" }}</td>
                    <td>
                        <ul>
                            {% for hashtag_info in data.hashtags %}
                            <li>{{ hashtag_info.hashtag }} ({{ hashtag_info.count }} veces)</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    const ctx = document.getElementById('statsChart').getContext('2d');

    // Obtén los datos de la respuesta JSON (reemplaza esto con los datos reales de tu respuesta)
    const response = {{ response| safe }};

    // Crear un objeto para almacenar el recuento total de hashtags por fecha
    const hashtagsCountByDate = {};

    // Procesar los datos y calcular el recuento total de hashtags por fecha
    response.forEach(data => {
        const fecha = data.FECHA;
        const hashtags = data.HASHTAGS;
        const totalHashtags = hashtags.reduce((total, hashtag) => total + hashtag.count, 0);
        hashtagsCountByDate[fecha] = totalHashtags;
    });

    const labels = Object.keys(hashtagsCountByDate);
    const dataValues = Object.values(hashtagsCountByDate);

    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Recuento Total de Hashtags',
                data: dataValues,
                backgroundColor: 'rgba(23, 162, 184, 0.5)', // Color de barras personalizado
                borderColor: 'rgba(100, 100, 100, 100)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    beginAtZero: true,
                }
            }
        }
    });
</script>
{% endblock extra_js %}