<diccionario><sentimientos_positivos><palabra>bueno</palabra><palabra>excelente</palabra><palabra>cool</palabra><palabra>satisfecho</palabra><palabra>util</palabra><palabra>compasion</palabra><palabra>solucion</palabra></sentimientos_positivos><sentimientos_negativos><palabra>malo</palabra><palabra>pesimo</palabra><palabra>triste</palabra><palabra>molesto</palabra><palabra>decepcionado</palabra><palabra>enojo</palabra><palabra>frustracion</palabra><palabra>incomodos</palabra></sentimientos_negativos></diccionario>